## TZ Survey Analysis

In [1]:
# import necessary libraries
import os
import pandas as pd

In [4]:
# The first step is to fetch all the data

# determine the relative path of the folder holding the csv files
folder_path = "./TZA_2020_NPS-R5_v02_M_CSV"

In [5]:
# Initialize an empty dictionary to store the data
data_dict = {}

# Loop through each file in the folder
for filename in os.listdir(folder_path):
    if filename.endswith(".csv"):
        # Create the variable name (removing the .csv extension)
        var_name = os.path.splitext(filename)[0]
        
        # Construct the full file path
        file_path = os.path.join(folder_path, filename)
        
        # Read the CSV file into a DataFrame
        data_dict[var_name] = pd.read_csv(file_path)

In [12]:
# All the 67 datasets will need to be merged before we can explore which data is useful or not
# From tznps_2020_2021_basic_information_document_final.pdf (pg.15 - 24), we can get the unique identifier of each dataset
# we can use that to loop through the entire dataset and merge all results as appropriate
# to reduce chances of error, we will keep all merges as left merges, and we will first run the fn that does 
# single column merges, then double column merges


# Alternatively, we could determine the important datasets and merge only those.

# Whatever the case, we will need to have a function that takes an initial df and a list of whatever other number 
# of dfs and does the joins/merges to the end

#data_dict['hh_sec_a'].merge(hh_sec_b, how = 'left',  )

In [52]:
def single_column_merger(left_df, right_dfs: list, merging_field: str):
    """Function receives a df, and a list of dfs and merges them
    These dfs must all have a common field on which to merge, which must be a string 
    (2 asserts here: common field, named as a string ) """
    # Create a list of suffixes to avoid a MergeError
    suffix_variables = ['df_'+str(i) for i in range(len(right_dfs))]
    print('suffix_variables is ', suffix_variables)
    for i in right_dfs:
        print(len(i))
        left_df = left_df.merge(i, how = 'left', on = merging_field, suffixes = suffix_variables)
    
    return left_df

In [53]:
hh_sec_a = data_dict['hh_sec_a']
list_hh = [data_dict['hh_sec_h'],data_dict['hh_sec_i'],data_dict['hh_sec_i2']]

In [54]:
test_output = single_column_merger(hh_sec_a, list_hh, 'y5_hhid')

suffix_variables is  ['df_0', 'df_1', 'df_2']
4709

ValueError: too many values to unpack (expected 2)

In [28]:
hh_sec_a

,interview__key,hh_a06,y5_hhid,y5_cluster,y5_crossweight,y5_panelweight,y5_rural,clusterid,strataid,domain,...,int_month_code2,int_month_year,hh_a18,Int_End,TotInt_Mins,lowest_b06,hh_b1b14,j1_selection,wqt_selection,int_result
0,39-26-37-98,1000.0,1000-001-01,02-02-033-04-004,2248.762061,2164.920159,1,2.020330e+10,4.0,3.0,...,9,10,2021-09-15T10:31:02,2021-09-21T18:58:54,9147,1.0,2.0,1,1,1
1,04-06-65-04,1000.0,1000-001-02,02-02-033-04-004,1587.050165,1563.731487,1,2.020330e+10,4.0,3.0,...,9,10,2021-09-15T13:43:15,2021-09-16T13:57:11,1453,NaN,NaN,1,2,1
2,97-90-78-65,1000.0,1000-001-03,02-02-033-04-004,3572.405771,3306.411185,1,2.020330e+10,4.0,3.0,...,9,10,2021-09-15T11:36:38,2021-09-15T15:01:18,204,NaN,NaN,1,2,1
3,69-87-77-12,1000.0,1000-001-06,02-02-033-04-004,3550.494114,3636.932901,1,2.020330e+10,4.0,3.0,...,9,10,2021-09-16T10:40:10,2021-09-23T09:17:32,9997,NaN,1.0,1,2,1
4,48-07-72-07,1001.0,1001-001-01,02-02-033-04-004,5103.593973,4487.153963,1,2.020330e+10,4.0,3.0,...,9,10,2021-09-14T09:55:10,2021-09-14T16:11:34,376,1.0,1.0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4704,95-36-33-73,NaN,9807-001-99,19-03-122-02-001,891.649733,NaN,2,NaN,NaN,NaN,...,8,9,2021-08-18T09:42:40,2021-08-18T11:44:33,121,NaN,NaN,1,1,1
4705,77-02-54-15,NaN,9808-001-99,19-03-122-02-001,1046.000182,NaN,2,NaN,NaN,NaN,...,8,9,2021-08-17T12:37:31,2021-08-17T16:49:18,251,NaN,NaN,2,1,1
4706,00-39-27-13,NaN,9809-001-99,19-03-122-02-001,188.115819,NaN,2,NaN,NaN,NaN,...,8,9,2021-08-17T11:54:18,2021-08-18T12:14:25,1460,NaN,1.0,1,2,1
4707,74-40-98-58,NaN,9810-001-99,19-03-122-02-001,912.500327,NaN,2,NaN,NaN,NaN,...,8,9,2021-08-17T11:46:51,2021-08-17T15:13:58,207,NaN,NaN,1,2,1
4708,53-69-11-30,NaN,9811-001-99,19-03-122-02-001,1113.334306,NaN,2,NaN,NaN,NaN,...,8,9,2021-08-17T11:19:11,2021-08-17T16:24:16,305,NaN,NaN,1,2,1